{% extends "base.html" %}

{% block links %}
<li class="hidden">
    <a href="/hackathon/"></a>
</li>
<li class="page-scroll">
    <a href="{% url 'auth_logout'%}">Выход</a>
</li>
{% endblock %}

{% block content %}
<header>
    <br>
    <br>
</header>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Сдача проекта</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form method="post" action="{% url 'report' %}">
                {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ form.heroku_url.label_tag }}</label>
                            <input type="text" class="form-control" placeholder="Heroku url" id="id_heroku_url" name="heroku_url" maxlength="200" required data-validation-required-message="Заполните поле Heroku url." value="{{ form.heroku_url.value }}">
                            {% for e in form.heroku_url.errors %}
                                <p class="help-block text-danger">{{ e }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ form.github_url.label_tag }}</label>
                            <input type="text" class="form-control" placeholder="Github url" id="id_github_url" name="github_url" maxlength="200" required data-validation-required-message="Заполните поле github_url." value="{{ form.github_url.value }}">
                            {% for e in form.github_url.errors %}
                                <p class="help-block text-danger">{{ e }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ form.notes.label_tag }}</label>
                            <textarea class="form-control" placeholder="Примечания" rows="5" id="id_notes" name="notes">{{ form.notes.value | default_if_none: "" }}</textarea>
                            {% for e in form.notes.errors %}
                                <p class="help-block text-danger">{{ e }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    {% for e in form.non_field_errors %}
                        <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" value="login" class="btn btn-success btn-lg">Отправить</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}