{% extends 'base.html' %}
{% load static from staticfiles %}

{% block links %}
<li class="hidden">
    <a href="/hackathon/"></a>
</li>
{% if user.is_authenticated %}
<li class="page-scroll">
    <a id="sub-proj-ref" href="{% url 'report'%}">Сдать задание</a>
</li>
<li class="page-scroll">
    <a href="{% url 'profile' %}">Профиль</a>
</li>
<li class="page-scroll">
    <a href="{% url 'auth_logout'%}">Выход</a>
</li>
{% else %}
<li class="page-scroll">
    <a href="{% url 'auth_login'%}">Вход</a>
</li>
<li class="page-scroll">
    <a href="{% url 'registration_register'%}">Регистрация</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{% static "img/profile.png" %}" alt="">
                <div class="intro-text">
                    <span class="name">Хакатон 2016</span>
                    <hr class="star-light">
                    <span class="skills">НФИ КемГУ ищет таланты</span>
                </div>
            </div>
        </div>
    </div>
</header>

{% if user.is_authenticated %}
<section class="container" id="about">
    <div class="news">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Новости</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>29.04.2016.</h3>
                <h4>Уважаемые участники, мы добавили пункт меню "<a href="{% url 'profile' %}">Профиль</a>", 
                в котором можно внести ваши контактные данные.
                 По-случайности, при регистрации не сохранялась ваша 
                 электронная почта, поэтому просим  повторно внести ее в вашем профиле.
                </h4>
                <a href="{% url 'profile' %}">
                    Ссылка на профиль.
                </a>
            </div>
            <div class="col-lg-12">
                <h3>29.04.2016.</h3>
                <h4>Мы создали группу в Telegram,
                где вы можете задать нам свои вопросы.
                Пройдите по<a href="https://telegram.me/joinchat/B08lWwjIHK-kP_CHjzXMAw"> ссылке</a>. Если нужно установите
                Telegram, а затем нажмите кнопку "Join group".
                </h4>
            </div>
            <div class="col-lg-12">
                <h3>26.04.2016.</h3>
                <h4>Организационное собрание, на котором вы можете
                    задать любые интересующие вас вопросы, пройдет в четверг 28
                    апреля в 502 аудитории 4 корпуса в 17:10.
                </h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Полезные ссылки</h2>
                <hr>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h3>1. Python. Лутц М. “Программирование на Python”.</h3>
                <h3>2. Django.</h3>
                <h3>
                    <a href="http://tutorial.djangogirls.org/ru/">
                        http://tutorial.djangogirls.org/ru/
                    </a>
                </h3>
                <h3><a href="http://djbook.ru/rel1.9/">http://djbook.ru/rel1.9/</a></h3>
                <h3>3. Git.</h3>
                <h3>
                    <a href="https://githowto.com/ru?gf_page=upload">
                        https://githowto.com/ru?gf_page=upload
                    </a>
                </h3>
                <h3>4. Linux.</h3>
                <h3>
                    <a href="http://tutorial.djangogirls.org/ru/intro_to_command_line/">
                        Command line basics
                    </a>
                </h3>
                <h3>5. RSS.</h3>
                <h3>
                    <a href="https://ru.wikipedia.org/wiki/RSS">
                        https://ru.wikipedia.org/wiki/RSS
                    </a>
                </h3>
                <h3>6. XML.</h3>
                <h3>
                    <a href="http://pep8.ru/doc/dive-into-python-3/14.html">
                        http://pep8.ru/doc/dive-into-python-3/14.html
                    </a>
                </h3>
                <h3>7. Web API (application programming interface).</h3>
                <h3><a href="https://ru.wikipedia.org/wiki/API">https://ru.wikipedia.org/wiki/API</a></h3>
                <h3><a href="https://ru.wikipedia.org/wiki/REST">https://ru.wikipedia.org/wiki/REST</a></h3>
                <h3><a href="https://ru.wikipedia.org/wiki/CRUD">https://ru.wikipedia.org/wiki/CRUD</a></h3>
                <h3>
                    <a href="https://khashtamov.com/2015/12/python-requests/">
                        Python requests lib
                    </a>
                </h3>
                <h3>8. Front-end.</h3>
                <h3><a href="http://getbootstrap.com/">Twitter Bootstrap</a></h3>
                <h3><a href="http://startbootstrap.com/">Готовые шаблоны (как этот, например)</a></h3>
                <h3>9. Golang (можно использовать вместо Python).</h3>
                <h3><a href="https://golang.org/">Официальный сайт языка</a></h3>
                <h3>10. Web-разработка на Go.</h3>
                <h3>
                    <a href="https://github.com/julienschmidt/httprouter">
                        Httprouter (веб-сервер)
                    </a>
                </h3>
                <h3>
                    <a href="https://github.com/jinzhu/gorm">
                        ORM
                    </a>
                </h3>
                <h3>
                    <a href="https://github.com/gin-gonic/gin">
                        Полноценный фреймворк на основе httprouter
                    </a>
                </h3>

            </div>
            <br><br><br><hr>
            <div class="col-lg-12 text-center">
                <h2>Варианты заданий</h2>
                <hr>
            </div>
            <div class="col-lg-12">
                <h1>Первое задание</h1>
                <hr>
                <h3>Разработать блог.</h3><br>
                <h4>Требования:</h4>
                <h4 class="tab">⚀  добавление статей через админ панель;</h4>
                <h4 class="tab">⚁  список статей в блоге (лента);</h4>
                <h4 class="tab">⚂  RSS-рассылка новых статей;</h4>
                <h4 class="tab">⚃  агрегация RSS-рассылок из других источников (например, <a href="http://habrahabr.ru">habrahabr.ru</a>). Периодический сбор рассылки. Сохранение в базу данных статей из источников. Отображение в ленте с возможностью перейти к первоисточнику (“читать далее” -&gt; habr);</h4>
                <h4 class="tab">⚄ (опционально) авторизация через OAuth.</h4>
                <h1>Второе задание</h1>
                <hr>
                <h3>Работа с API.</h3><br>
                <h4>Требования:</h4>
                <h4 class="tab">⚀  найти публичный API. Примеры: <a href="https://vk.com/dev/api_requests">vk</a>, <a href="https://developer.github.com/v3/">github</a>, <a href="https://dev.twitter.com/rest/public">twitter</a>;</h4>
                <h4 class="tab">⚁  получить данные для последующей обработки. Тематика данных выбирается самостоятельно;</h4>
                <h4 class="tab">⚂  просмотр обработанных данных и сырых данных. Пример: отобразить все твиты по хештегу, показать среднюю длинну твита, кол-во уникальных авторов по хештегу, самый популярный пост;</h4>
                <h4 class="tab">⚃  (опционально) реализовать операции create, update, delete с данными. API в основном требует авторизацию для подобных операций. Если сможете настроить, будет большой плюс.</h4>
            </div>
            <div class="col-lg-12 text-center">
                <h2>Как сдать задания</h2>
                <hr>
            </div>
            <div class="col-lg-12">
                <h4 class="tab">⚀  выложить проект на открытый git хост (github, bitbucket etc);</h4>
                <h4 class="tab">⚁  задеплоить проект на <a href="https://dashboard.heroku.com/">heroku</a>;</h4>
                <h4 class="tab">⚂  нажать на кнопку <a id="sub-proj">сдать проект</a>;</h4>
                <h4 class="tab">⚃  кнопка будет доступна с 6 мая.</h4>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="container" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Для получения задания необходимо зарегистрироваться и войти под своей учетной записью.</h2>
            </div>
        </div>
    </div>
</section>
{% endif %}
<script>
    $('#sub-proj').click(function() {
        if (!this.animated) {
            this.animated = true

            $('#sub-proj-ref').css('color', '#18bc9c'); 
            $('#sub-proj-ref').animate({"top": "-=20px"}, 250);
            $('#sub-proj-ref').animate({"top": "+=40px"}, 250);
            $('#sub-proj-ref').animate({"top": "-=20px"}, 250, function() {
                $('#sub-proj-ref').css('color', '#fff');
                this.animated = false;
            }.bind(this));
        }
    });
</script>
{% endblock %}
