{% extends "base.html" %}

{% block links %}
<li class="hidden">
    <a href="/hackathon/"></a>
</li>
<li class="page-scroll">
    <a id="sub-proj-ref" href="#">Сдать задание</a>
</li>
<li class="page-scroll">
    <a href="{% url 'auth_logout'%}">Выход</a>
</li>
{% endblock %}

{% block content %}
<header>
    <br>
    <br>
</header>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Редактирование профиля</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form method="post" action="{% url 'registration_register' %}">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ form.first_name.label_tag }}</label>
                            <input type="text" class="form-control" placeholder="Имя" id="id_first_name" name="first_name" maxlength="30" required data-validation-required-message="Заполните поле имя." value="{{ form.first_name.value }}">
                            {% for e in form.first_name.errors %}
                                <p class="help-block text-danger">{{ e }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ form.last_name.label_tag }}</label>
                            <input type="text" class="form-control" placeholder="Фамилия" id="id_last_name" name="last_name" maxlength="30" required data-validation-required-message="Заполните поле фамилия." value="{{ form.last_name.value }}">
                            {% for e in form.last_name.errors %}
                                <p class="help-block text-danger">{{ e }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ form.email.label_tag }}</label>
                            <input type="email" class="form-control" placeholder="E-mail" id="id_email" name="email" maxlength="30" required data-validation-required-message="Заполните поле e-mail." value="{{ form.email.value }}">
                            {% for e in form.email.errors %}
                                <p class="help-block text-danger">{{ e }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ form.group.label_tag }}</label>
                            <input  title="Пример: ФИТ/ПМБ-15" pattern="[а-яА-Я]+[/][а-яА-Я]+[-]\d+" type="text" class="form-control" placeholder="Факультет/Группа" id="id_group" name="group" maxlength="50" required data-validation-required-message="Заполните поле факультет/группа." value="{{ form.group.value }}">
                            {% for e in form.group.errors %}
                                <p class="help-block text-danger">{{ e }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    {% for e in form.non_field_errors %}
                        <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" value="login" class="btn btn-success btn-lg">Отправить</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


<p>Go to login pagessss <a href="{% url 'auth_login'%}">link</a></p>
